.DS_Store
**/node_modules/
**/log/
**/node_lib/
**/.cache/
.cache/
.db/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.playwright-cli/

# Editor directories and files
*.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.vscode


.omx/

# 生产环境 PM2 配置文件
pm2.prod.config.cjs

